extends layouts/main-layout.pug
block styles
    link(rel="stylesheet", href="/css/main.css")
block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1404798871i/11380948._UY256_SS256_.jpg")
                        .card__content
                            h2.product__price 19.99€
                            p.product__description A very interesting book with lot of good content.
                        .card_actions
                            button.btn Add to Cart
        else
            h1 No products